h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 20px 30px 30px;
}

.main {
  position: relative;
  width: 1000px;
  height: 800px;
}
thead {
}
thead .top {
  position: relative;
  background-color: aqua;
  border-radius: 10px;
  width: 700px;
  height: 30px;
  border: 1px solid #333;
}

tbody .day {
  position: relative;
  background-color: coral;
  border: 1px solid #333;
}
tbody .day .red {
  color: rgb(212, 6, 6);
}
tbody .day .gray {
  color: gray;
}
tbody tr th {
  font-size: 20px;
  width: 100px;
  margin-left: 30px;
  padding: 20px 0;
}
tbody tr td {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
}

.modal {
  width: 600px;
  height: 400px;
  background-color: bisque;
  display: none;
}
